[Unit]
Description=JFrog Artifactory
After=network.target

[Service]
Type=forking
User=artifactory
ExecStart=/opt/jfrog/artifactory/app/bin/artifactory.sh start
ExecStop=/opt/jfrog/artifactory/app/bin/artifactory.sh stop
LimitNOFILE=65536
Restart=always

[Install]
WantedBy=multi-user.target
