[Unit]
Description=JFrog Artifactory
After=syslog.target network.target

[Service]
Type=forking

Environment="JAVA_HOME=/usr/lib/jvm/default-java"
Environment="CATALINA_PID=/opt/artifactory/artifactory*/run/artifactory.pid"
Environment="CATALINA_HOME=/opt/artifactory/artifactory*/tomcat"
Environment="CATALINA_BASE=/opt/artifactory/artifactory*/tomcat"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseG1GC"
Environment="JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom"

ExecStart=/opt/artifactory/artifactory*/app/bin/artifactory.sh start
ExecStop=/opt/artifactory/artifactory*/app/bin/artifactory.sh stop

User=artifactory
Group=artifactory
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
